{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {% trans 'Import CSV' %}
</div>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="module aligned">
    {{ form.as_p }}
  </div>
  <div class="submit-row">
    <input type="submit" value="Import" class="default">
  </div>
</form>
{% endblock %}
